metadata
  description          character*(256)
  code_num             integer
  code                 character*(64)  (metadata_code_num)
  author_num           integer
  author               character*(64)  (metadata_author_num)

nucleus
  num                  integer
  charge               double precision   (nucleus_num)
  coord                double precision   (3,nucleus_num)
  label                character*(64)     (nucleus_num)

electron
  up_num               integer
  dn_num               integer

basis
  type                 character*(32)
  shell_num            integer
  shell_factor         double precision   (basis_shell_num)
  shell_center         integer            (basis_shell_num)
  shell_ang_mom        character          (basis_shell_num)
  shell_prim_num       integer            (basis_shell_num)
  prim_index           integer            (basis_shell_num)
  prim_num             integer
  exponent             double precision   (basis_prim_num)
  coefficient          double precision   (basis_prim_num)

