metadata
  description          character*(256)
  code_num             integer
  code                 character*(64)  (metadata_code_num)
  author_num           integer
  author               character*(64)  (metadata_author_num)

nucleus
  num                  integer
  charge               double precision   (nucleus_num)
  coord                double precision   (3,nucleus_num)
  label                character*(64)     (nucleus_num)

electron
  up_num               integer
  dn_num               integer

pseudopotential
  type                 character*(32)
