metadata
  description          character*(256)
  code_num             integer
  code                 character*(64)  (metadata_code_num)
  author_num           integer
  author               character*(64)  (metadata_author_num)

nucleus
  num                  integer*8
  charge               double precision   (nucleus_num)
  coord                double precision   (3,nucleus_num)
  label                character*(64)     (nucleus_num)

electron
  up_num               integer*8
  dn_num               integer*8

basis
  type                 character*(32)
  shell_num            integer*8
  shell_factor         double precision     (basis_shell_num)
  shell_center         integer*8            (basis_shell_num)
  shell_ang_mom        integer              (basis_shell_num)
  shell_prim_num       integer*8            (basis_shell_num)
  prim_index           integer*8            (basis_shell_num)
  prim_num             integer*8
  exponent             double precision   (basis_prim_num)
  coefficient          double precision   (basis_prim_num)

